<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>projectName</key>
	<string>OwnTT Mobile</string>
	<key>kAPIBaseURLString</key>
	<string>http://46.29.19.142:8081/ownttmobile/api/</string>
</dict>
</plist>
